* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgba(105,224,90,0.55);
    ;
}

#title{
    text-align: left;
    padding: 1rem 20px;
    font-size: 2rem;
    color: rgb(49,70,7);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
ul li {
    list-style: none;
    display: inline-block;
    line-height: 60px;
}

ul li a {
    display: block;
    text-decoration:none;
    font-size: 14px;
    font-family: arial;
    color: rgb(175, 24, 24);
    padding: 0 20px;
}

ul li a:hover {
    color: rgb(255, 255, 255);
}

body{
    background-image: linear-gradient(115deg, rgba(70, 172, 133, 0.932),rgb(130, 146, 167)),url(ionio.jpg);
    height: 100vh;
}

p{
    font-size: 17px;
    padding: 0 20px;
    text-align: justify;
}

.img-ionio{
    padding: 70px;
}